@import 'styles/fonts.scss';

.root {
  width: 250px;
  max-height: 80px;
}

.root_sm {
  width: 128px;
  height: 40px;
}

.wrapper {
  margin-top: 8px;
}

.input, .errorInput {
  background-color: var(--gray01-bg) !important;
  border-radius: 12px;
  border: none;
  @include Text_Large-Regular;
  color: var(--primary-tx);
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;


  &::placeholder {
    color: var(--tetriary-tx);
    @include Text_Large-Regular;
  }
}

.errorInput {
  background-color: var(--field-error) !important;
  color: var(--tetriary-tx);

  &::placeholder {
    color: var(--error-placeholder);
    @include Text_Large-Regular;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.rightSection {
  width: 65px;
  padding: 5px;
}

.dropdown {
  padding: 16px 0;
  border-radius: 16px;
  background-color: var(--gray01-bg) !important;
  border: none;
  @include Text_Large-Regular;

  color: var(--primary-tx);
  box-shadow: 0 70px 100px rgba(0, 0, 0, 0.3);
}

.itemsWrapper {
  border-radius: 16px;
  padding: 0;
}

.item {
  @include Text_Large-Regular;

  color: var(--primary-tx);
  border: none;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 24px;

  &[data-selected="true"] {
    background-color: var(--primary-ac) !important;
    border-radius: 0;

  }

  &[aria-selected="true"] {
    background-color: var(--gray01-bg);
    border-radius: 0;
  }

  &:hover {
    background: var(--gray02-bg);
    border-radius: 0;
  }

  &[ data-disabled="true"] {
    border-radius: 0;
    &:hover {
      background: none !important;
      cursor: not-allowed;
    }
  }
}

.img {
  width: 24px;
  height: 24px;
}

.error {
  @include Text_Medium-Regular;
  color: var(--error);
  padding-bottom: 5px;
}

.nothingFound {
  @include Text_Large-Regular;
  color: var(--tetriary-tx);
  text-align: left !important;
  padding-left: 24px;
}

.label {
  @include Text_Large-Regular;
  letter-spacing: -0.005em;
  color: var(--primary-tx)
}
